In [7]:
# In a Jupyter cell:
import pandas as pd
import numpy as np
print(f"pandas: {pd.__version__}")
print(f"numpy: {np.__version__}")

pandas: 2.3.3
numpy: 2.2.6

In [8]:
import pandas as pd
import numpy as np

# Create a simple DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

print(df)
print(f"pandas version: {pd.__version__}")
print(f"numpy version: {np.__version__}")

   A  B
0  1  4
1  2  5
2  3  6
pandas version: 2.3.3
numpy version: 2.2.6

In [6]:
import sys
print(sys.executable)

c:\Users\shilob.das\AppData\Local\Programs\Python\Python310\python.exe

In [8]:
df=pd.DataFrame([2,2,1,2,3,4,5,6,7,8,9,0],['c1','c2','c3','c4','c5','c6','c7','c8','c9','c10','c11','c12'])
print(df)

     0
c1   2
c2   2
c3   1
c4   2
c5   3
c6   4
c7   5
c8   6
c9   7
c10  8
c11  9
c12  0

In [24]:
df = pd.read_csv("C:/Users/shilob.das/Downloads/tips.csv")
print(df)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
# df.sort_values(by='total_bill', inplace=True)
df.sort_values(['time','total_bill'], ascending=[True, False], inplace=True)
print(df)

     total_bill    tip     sex smoker   day    time  size
170       50.81  10.00    Male    Yes   Sat  Dinner     3
212       48.33   9.00    Male     No   Sat  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
156       48.17   5.00    Male     No   Sun  Dinner     6
182       45.35   3.50    Male    Yes   Sun  Dinner     3
..          ...    ...     ...    ...   ...     ...   ...
126        8.52   1.48    Male     No  Thur   Lunch     2
135        8.51   1.25  Female     No  Thur   Lunch     2
145        8.35   1.50  Female     No  Thur   Lunch     2
195        7.56   1.44    Male     No  Thur   Lunch     2
149        7.51   2.00    Male     No  Thur   Lunch     2

[244 rows x 7 columns]

In [34]:
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Alice", "David"],
    "Age": [25, 30, 25, 40],
    "City": ["NY", "LA", "NY", "Chicago"],
    "time": ["Lunch", "Dinner", "Lunch", "Dinner"],
    "total_bill": [20.5, None, 20.5, 50.0]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

df_cleaned = df.drop_duplicates()

print("\nModified DataFrame (no duplicates)")
print(df_cleaned)

Original DataFrame:
    Name  Age     City    time  total_bill
0  Alice   25       NY   Lunch        20.5
1    Bob   30       LA  Dinner         NaN
2  Alice   25       NY   Lunch        20.5
3  David   40  Chicago  Dinner        50.0

Modified DataFrame (no duplicates)
    Name  Age     City    time  total_bill
0  Alice   25       NY   Lunch        20.5
1    Bob   30       LA  Dinner         NaN
3  David   40  Chicago  Dinner        50.0

In [ ]:
df.pivot_table(index=['day'], columns=['time'], values='total_bill', aggfunc='mean', fill_value=0, margins=True)

time     Dinner      Lunch        All
day
Fri   19.663333  12.845714  17.151579
Sat   20.441379   0.000000  20.441379
Sun   21.410000   0.000000  21.410000
Thur  18.780000  17.664754  17.682742
All   20.797159  17.168676  19.785943

In [ ]:
df =pd.DataFrame({
    'A':[1,2,3,4,5],
    'B':[10,20,30,40,50],
    'C':[100,200,300,400,500]
})
print (df)
df_filtered = df[(df['A'] > 2) & (df['B'] < 50)]
print("\nFiltered DataFrame:")
print(df_filtered)

      A     B      C
0     1    10    100
1     2    20    200
2     3    30    300
3     4    40    400
4  True  True  False
5     5    50    500

TypeError: '<' not supported between instances of 'str' and 'int'